bg-body = #030
fg-body = #0f0

shadow = rgba(0, 0, 0, 0.5)
shadow-light = rgba(0, 0, 0, 0.2)
shadow-dark = rgba(0, 0, 0, 0.8)

glint = rgba(255, 255, 255, 0.4)
glint-bright = rgba(255, 255, 255, 0.8)
glint-dull = rgba(255, 255, 255, 0.2)

