font-base = 62.5% // 10px
font-base-large = 104.167% // 16.67px

font-navigation = 1.5em // 15px | 25px
font-heading = 3em // 30px | 50px
font-copy = 2.1em // 21px | 35px
font-copy-small = 1.5em // 15px | 25px
font-hero-item = 1.5em // 15px | 25px
font-hero-price-text-earn = 1.2em // 12px | 20px
font-hero-price-text-need = 0.84em // 8px | 14px
font-hero-price-amount = 1.8em // 18px | 30px
font-footer = 1.08em // 11px | 18px
font-button = 1.5em // 15px | 25px

@font-face
  font-family 'uni 05_53'
  src url('fonts/uni_05_53.eot')
  src url('fonts/uni_05_53.eot?#iefix') format('embedded-opentype'),
      url('fonts/uni_05_53.woff') format('woff'),
      url('fonts/uni_05_53.ttf') format('truetype'),
      url('fonts/uni_05_53.svg#uni_05_53regular') format('svg')
  font-weight normal
  font-style normal

