font-base = 100% // 16px
font-base-large = 150% // 24px

font-title = 1.875em // 30px | 45px
font-small = 0.75em // 12px | 18px

@font-face
  font-family 'uni 05_53'
  src url('fonts/uni_05_53.eot')
  src url('fonts/uni_05_53.eot?#iefix') format('embedded-opentype'),
      url('fonts/uni_05_53.woff') format('woff'),
      url('fonts/uni_05_53.ttf') format('truetype'),
      url('fonts/uni_05_53.svg#uni_05_53regular') format('svg')
  font-weight normal
  font-style normal

