font-base = 112.5% // 18px
font-base-large = 150% // 27px

font-title = 1.56em // 28px | 42px
font-subtitle = 1.33em // 24px | 36px
font-small = 0.67em // 12px | 18px

@font-face
  font-family 'uni 05_53'
  src url('fonts/uni_05_53.eot')
  src url('fonts/uni_05_53.eot?#iefix') format('embedded-opentype'),
      url('fonts/uni_05_53.woff') format('woff'),
      url('fonts/uni_05_53.ttf') format('truetype'),
      url('fonts/uni_05_53.svg#uni_05_53regular') format('svg')
  font-weight normal
  font-style normal

