@media (min-width: 640px)
  body
    padding 1em 2em 0.5em
    font-size font-base-large

@media (min-width: 1024px)
  body
    padding 2em 4em 0.5em

@media (min-width: 1280px)
  body
    padding 2em 6em 0.5em

