bg-body = #2b2b2b
fg-body = #c5c5c5

shadow = rgba(0, 0, 0, 0.5)
shadow-light = rgba(0, 0, 0, 0.2)
shadow-dark = rgba(0, 0, 0, 0.8)

glint = rgba(255, 255, 255, 0.4)
glint-bright = rgba(255, 255, 255, 0.8)
glint-dull = rgba(255, 255, 255, 0.2)

