bg-body = #111
fg-body = #999

fg-title = #ccc
fg-border = #444
fg-link = #009d91

bg-action = #14d100
bg-cancel = #fb000d
fg-button = #eee

bg-error = bg-cancel
bg-error-selection = bg-action
fg-error = fg-button

fg-icon = fg-link

shadow = rgba(0, 0, 0, 0.5)
shadow-light = rgba(0, 0, 0, 0.3)
shadow-dark = rgba(0, 0, 0, 0.7)

glint = rgba(255, 255, 255, 0.5)
glint-bright = rgba(255, 255, 255, 0.7)
glint-dull = rgba(255, 255, 255, 0.3)

