@media (min-width: 480px)
  .padded
    padding 0 2em

  .stat, .separator
    display inline

  .stat
    font-style italic

@media (min-width: 640px)
  .padded
    padding 0 4em

  .ribbon
    display block

@media (min-width: 800px)
  body
    font-size font-base-large

  .avatar
    height 48px

  .username
    margin-left 64px

  .stat
    position relative
    top -4px

  .checkbox
    vertical-align middle

@media (min-width: 1024px)
  .padded
    padding 0 6em

@media (min-width: 1280px)
  .padded
    padding 0 8em

