@media (min-width: 480px)
  .padded
    padding-left 2em
    padding-right 2em

  .stat, .separator
    display inline

  .stat
    position relative
    top -2px
    font-style italic

@media (min-width: 640px)
  .padded
    padding-left 4em
    padding-right 4em

  .ribbon
    display block

@media (min-width: 800px)
  body
    font-size font-base-large

  .avatar
    height 48px

  .username
    margin-left 64px

  .checkbox
    vertical-align middle

@media (min-width: 1024px)
  .padded
    padding-left 6em
    padding-right 6em

@media (min-width: 1280px)
  .padded
    padding-left 8em
    padding-right 8em

