@media (min-width: 480px)
  .padded
    padding 0 2em

@media (min-width: 640px)
  .padded
    padding 0 4em

@media (min-width: 800px)
  body
    font-size font-base-large

@media (min-width: 1024px)
  .padded
    padding 0 8em

