{{#partial 'title'}}Error{{/partial}}
{{#partial 'startHeading'}}<a class="undecorated" href="/">{{/partial}}
{{#partial 'endHeading'}}</a>{{/partial}}
{{#partial 'content'}}
<section>
  <h2>Crikey!</h1>

  <!-- TODO: Add form for creating an issue via the GitHub API? Create GitHub issue via the API automatically? -->

  <p>
    Something went wrong.
    Maybe try again or,
    if that fails,
    <a href="https://github.com/philbooth/GitHubReminder/issues/new">create an issue</a>
    on GitHub
    and I'll look into it ASAP.
    Please add plenty of detail,
    describing all of the steps you took
    leading up to the problem.
    It would be sweet
    if you could paste
    the following error details
    into the description too:
  </p>

  <pre class="error">
    Action: {{action}}
    {{message}}
    Route: {{route}}
    Host: {{host}}
    Method: {{method}}
    Path: {{path}}
    Query: {{query}}
    User: {{user}}
    Referrer: {{referrer}}</pre>

  <p>
    Thanks and sorry.
  </p>
</section>
{{/partial}}
{{> layout}}
