{{#partial 'title'}}Error{{/partial}}
{{#partial 'content'}}
<section>
  <h2>Whoopsie!</h2>

  <!-- TODO: Add form for creating an issue via the GitHub API -->

  <p>
    Something went wrong.
    Maybe try again or,
    if that fails,
    <a href="https://github.com/philbooth/GitHubReminder/issues/new">create an issue</a>
    on GitHub
    and I will look into it pronto.
    To help me fix the bug,
    it would be awesome
    if you could add plenty of detail
    to the description,
    including exactly what steps you took,
    the name and version
    of your browser
    and operating system,
    and the following error message:
  </p>

  <p class="error">
    {{errorMessage}}
  </p>

  <p>
    Thanks for that,
    and I'm really sorry
    for writing such shitty code.
  </p>
</section>
{{/partial}}
{{> layout}}
