{{#partial 'title'}}Settings{{/partial}}
{{#partial 'content'}}
<section>
  <h2>Your recently starred repositories</h2>

  <ul>
    {{#each repos}}
    <li>
      <h3>{{name}}</h3>

      <p>{{description}}<p>
    </li>
    {{/each}}
  </ul>

  <p>
    Wrong account?
    <a href="/signout">Sign out</a>.
  </p>
</section>

<section>
  <h2>Reminder settings</h2>

  <form method="post">
    <label for="input-email">Email address</label>
    <input type="text" value="{{email}}" name="email" id="input-email"/>

    <label for="select-frequency">Frequency</label>
    <select name="frequency" id="select-frequency">
      <!-- TODO: Handlebars helper to DRY this out -->
      <option value="daily"{{#if isDaily}} selected="selected"{{/if}}>Daily</option>
      <option value="weekly"{{#if isWeekly}} selected="selected"{{/if}}>Weekly</option>
      <option value="monthly"{{#if isMonthly}} selected="selected"{{/if}}>Monthly</option>
    </select>

    <!-- TODO: Offer setting reminder time (in user's time zone) -->
    <!-- TODO: Offer setting reminder day -->

    <input type="submit" value="Save"/>
  </form>

  {{#if isSaved}}
  <a href="/cancel">Cancel reminders</a>
  {{/if}}
</section>
{{/partial}}
{{> layout}}
