{{#partial 'title'}}Settings{{/partial}}
{{#partial 'startHeading'}}{{/partial}}
{{#partial 'endHeading'}}{{/partial}}
{{#partial 'content'}}
<section>
  <div class="panel">
    <h2 class="panel-header">Your GitHub account</h2>

    <img src="{{avatar}}" class="avatar" alt=""/>

    <p class="username">{{user}}</p>

    <h3>Recently starred repositories:</h3>

    <ul>
      {{#each repos}}
      <li class="repo">
        <h4>
          <a href="{{html_url}}" target="_blank">{{full_name}}</a>
        </h4>

        <p class="description">{{description}}</p>

        <ul>
          <li class="stat">
            <h5>Language:</h5>
            <span class="copy">{{language}}</span>
          </li>

          <li class="stat">
            <h5>Stars:</h5>
            <span class="copy">{{watchers_count}}</span>
          </li>

          <li class="stat">
            <h5>Forks:</h5>
            <span class="copy">{{forks_count}}</span>
          </li>
        </ul>
      </li>
      {{/each}}
    </ul>

    <p class="signout">
      Wrong account?
      <a href="/signout">Sign out</a>.
    </p>
  </div>
</section>

<section>
  <div class="panel">
    <h2 class="panel-header">Reminder settings</h2>

    {{#if isSaved}}
    <p class="news good">Your settings have been saved.</p>
    {{/if}}
    {{#if isFailed}}
    <p class="news bad">Your settings have not been saved because {{reason}}.</p>
    {{/if}}
    {{#if isAwaitingVerification}}
    <p class="news indifferent">
      Your email address must be verified
      before your settings are made active.
      An email has been sent
      to {{verificationEmail}};
      if you click on the link in that email,
      your reminders will be activated.
    </p>
    {{/if}}

    <form method="POST" action="/settings">
      <label for="select-email">Email address:</label>
      <select name="email" id="select-email" data-visibility-control="#input-email,#input-email-label" data-visibility-option="other">
        {{#email}}
        <option value="{{address}}"{{#if isSelected}} selected="selected"{{/if}}>{{address}}</option>
        {{/email}}
        <option value="other"{{#if isOtherEmail}} selected="selected"{{/if}}>Other</option>
      </select>

      <label for="input-email" id="input-email-label">Other email address:</label>
      <input type="text" name="otherEmail" id="input-email" value="{{otherEmail}}"/>

      <label for="select-frequency">Frequency:</label>
      <select name="frequency" id="select-frequency">
        <!-- TODO: Handlebars helper to DRY this out -->
        <option value="daily"{{#if isDaily}} selected="selected"{{/if}}>Daily</option>
        <option value="weekly"{{#if isWeekly}} selected="selected"{{/if}}>Weekly</option>
        <option value="monthly"{{#if isMonthly}} selected="selected"{{/if}}>Monthly</option>
      </select>

      <!-- TODO: Offer setting reminder time (in user's time zone) -->
      <!-- TODO: Offer setting reminder day -->

      <div class="control">
        <input class="inline control-part checkbox" type="checkbox" name="immediate" id="input-checkbox" value="true"/>
        <label class="inline control-part" for="input-immediate">Send a reminder immediately?</label>
      </div>

      <input class="inline right submit action ok" type="submit" value="Save"/>
    </form>

    {{#if isSubscribed}}
    <a class="right delete action cancel" href="{{unsubscribeLink}}">Delete my data</a>
    {{/if}}
  </div>
</section>
{{/partial}}
{{> layout}}
