{{#partial 'title'}}Settings{{/partial}}
{{#partial 'content'}}
<section>
  <h2>Your account</h2>

  <h3>User name</h3>

  <p>{{user}}</p>

  <img src="{{avatar}}" class="avatar" alt=""/>

  <h3>Recently starred repositories</h3>

  <ul>
    {{#each repos}}
    <li>
      <a href="{{html_url}}">
        <h3>{{full_name}}</h3>

        <p>{{description}}<p>

        <ul>
          <li>
            <h4>Stars</h4>:
            {{watchers_count}}
          </li>

          <li>
            <h4>Forks</h4>:
            {{forks_count}}
          </li>

          <li>
            <h4>Language</h4>:
            {{language}}
          </li>
        </ul>
      </a>
    </li>
    {{/each}}
  </ul>

  <p>
    Wrong account?
    <a href="/signout">Sign out</a>.
  </p>
</section>

<section>
  <h2>Reminder settings</h2>

  <form method="POST" action="/settings">
    <label for="select-email">Email address</label>
    <select name="email" id="select-email">
      {{#email}}
      <option value="{{address}}"{{#if isSelected}} selected="selected"{{/if}}>{{address}}</option>
      {{/email}}
      <option value="other"{{#if isOtherEmail}} selected="selected"{{/if}}>Other</option>
    </select>

    <label for="input-email">Other email address</label>
    <input type="text" name="otherEmail" id="input-email" value="{{otherEmail}}"/>

    <label for="select-frequency">Frequency</label>
    <select name="frequency" id="select-frequency">
      <!-- TODO: Handlebars helper to DRY this out -->
      <option value="daily"{{#if isDaily}} selected="selected"{{/if}}>Daily</option>
      <option value="weekly"{{#if isWeekly}} selected="selected"{{/if}}>Weekly</option>
      <option value="monthly"{{#if isMonthly}} selected="selected"{{/if}}>Monthly</option>
    </select>

    <!-- TODO: Offer setting reminder time (in user's time zone) -->
    <!-- TODO: Offer setting reminder day -->

    <input type="checkbox" name="immediate" id="input-checkbox" value="true"/>
    <label for="input-immediate">Send a reminder immediately?</label>

    <input type="submit" value="Save"/>
  </form>

  {{#if isSaved}}
  <a href="/cancel">Cancel reminders</a>
  {{/if}}
</section>
{{/partial}}
{{> layout}}
