{{#partial 'title'}}Sign in{{/partial}}
{{#partial 'content'}}
<p>
  Do you have hundreds or even thousands
  of repositories starred on GitHub?
  Projects that your well-intentioned former self
  meant to revisit at some point down the line,
  but never got round to doing?
</p>

<p>
  If you sign in with your GitHub account below,
  I'll send you a regular reminder
  about those forgotten repos,
  picking one at random
  and emailing you its details
  every day, week or month
  according to your preference.
</p>

<p>
  I promise not to do anything else with your data
  and you can unsubscribe from the reminders
  and delete all your data from my database
  with one click.
  You can also see the source code for this website
  <a href="https://github.com/philbooth/GitHubReminder">on GitHub</a>.
</p>

<p class="action">
  <a href="{{url}}">Sign in with GitHub</a>
</p>
{{/partial}}
{{> layout}}
