{{#partial 'title'}}Sign in{{/partial}}
{{#partial 'startHeading'}}{{/partial}}
{{#partial 'endHeading'}}{{/partial}}
{{#partial 'content'}}
<p>
  Do you have hundreds or even thousands
  of repositories starred on GitHub?
  Projects that your well-intentioned former self
  meant to revisit at some point down the line,
  but never got round to doing?
</p>

<p>
  Sign in with your GitHub account
  and I'll send you regular reminders
  about those forgotten repos,
  picking one pseudorandomly
  and emailing you its details
  every day, week or month
  according to your preference.*
</p>

<div class="action-area">
  <a class="action ok" href="{{url}}">Sign in with GitHub</a>
</div>

<aside>
  <p class="smallprint">
    * I promise never
    to do anything else with your data
    and you can unsubscribe from the reminders
    and delete all of your data from my database
    with one click.
    You can also see the source code for this website
    <a href="https://github.com/philbooth/GitHubReminder">on GitHub</a>.
  </p>
</aside>
{{/partial}}
{{> layout}}
