bg = #04410b
fg = #86d922

shadow = rgba(0, 0, 0, 0.5)
shadow-light = rgba(0, 0, 0, 0.2)
shadow-dark = rgba(0, 0, 0, 0.8)

glint = rgba(255, 255, 255, 0.4)
glint-bright = rgba(255, 255, 255, 0.8)
glint-dull = rgba(255, 255, 255, 0.2)

font-base = 62.5% // 10px
font-base-large = 104.167% // 16.67px

font-navigation = 1.5em // 15px | 25px
font-heading = 3em // 30px | 50px
font-copy = 2.1em // 21px | 35px
font-copy-small = 1.5em // 15px | 25px
font-hero-item = 1.5em // 15px | 25px
font-hero-price-text-earn = 1.2em // 12px | 20px
font-hero-price-text-need = 0.84em // 8px | 14px
font-hero-price-amount = 1.8em // 18px | 30px
font-footer = 1.08em // 11px | 18px
font-button = 1.5em // 15px | 25px

